<!doctype html>
<html>
<body>
    {% if session['login'] %}
        <p>You are currently logged in as {{ session['login']['username'] }}@{{session['login']['ip_address'] }} <br>
        <a href="/logout" target="_blank" rel="noopener noreferrer">logout</a></p>
    {% else %}
        <p><a href="/login" target="_blank" rel="noopener noreferrer">login</a></p>
    {% endif %}
    <p><a href="/lab01" target="_blank" rel="noopener noreferrer">lab01</a></p>
    <p><a href="/lab02" target="_blank" rel="noopener noreferrer">lab02</a></p>
    <p><a href="/lab03" target="_blank" rel="noopener noreferrer">lab03</a></p>
    <p><a href="/lab04" target="_blank" rel="noopener noreferrer">lab04</a></p>
    <p><a href="/lab05" target="_blank" rel="noopener noreferrer">lab05</a></p>
    <p><a href="/lab06" target="_blank" rel="noopener noreferrer">lab06</a></p>
    <p><a href="/lab07" target="_blank" rel="noopener noreferrer">lab07</a></p>
    <p><a href="/lab08" target="_blank" rel="noopener noreferrer">lab08</a></p>
    <p><a href="/lab09" target="_blank" rel="noopener noreferrer">lab09</a></p>
    <p><a href="/lab10" target="_blank" rel="noopener noreferrer">lab10</a></p>
    <p><a href="/lab11" target="_blank" rel="noopener noreferrer">lab11</a></p>
    <p><a href="/lab12" target="_blank" rel="noopener noreferrer">lab12</a></p>
</body>
</html>